@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Red Hat';
  font-style: normal;
  font-weight: normal;
  src: local('Red Hat'), url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap') format('ttf');
}

/*
* To avoid additional subpixel calculations, we provide a bias from the top and left
*/
.hide-top {
  clip-path: polygon(0 49.9%, 100% 49.9%, 100% 100%, 0 100%);
}

.hide-bottom {
  clip-path: polygon(0 0, 100% 0, 100% 50.1%, 0 50.1%);
}

.hide-left {
  clip-path: polygon(45% 0, 100% 0, 100% 100%, 45% 100%);
}

.hide-right {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

@keyframes unfold {
  0%, 20%, 40%, 50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes fold {
  0% {
    transform: rotateX(0deg);
  }
  50%, 100% {
    transform: rotateX(90deg);
  }
}

.wtf {
  transform: rotateX(90deg);
}

.anim-top {
  animation: 800ms infinite linear fold;
}

.anim-bottom {
 animation: 800ms infinite linear unfold; 
}
